<div class="d-flex flex-row align-items-center justify-content-center">

  <a href="{{ linkGithub }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-github"> {{ nameGithub }}</i>
  </a>

  <a href="{{ linkLinkedin }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-linkedin"> {{ nameLinkedin }} </i>
  </a>

  <a href="{{ linkPortfolio }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-file-person"> {{ namePortfolio }} </i>
  </a>
</div>