<div class="d-flex flex-row align-items-center justify-content-center">

  <a href="{{ linkGithub }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-github"> GitHub</i>
  </a>

  <a href="{{ linkLinkedin }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-linkedin"> Linkedin</i>
  </a>

  <a href="{{ linkPortfolio }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-file-person"> Portfolio</i>
  </a>
  
  <!-- <a href="{{ linkGithub }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-github"> GitHub</i>
  </a>

  <a href="{{ linkLinkedin }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-linkedin"> Linkedin</i>
  </a>

  <a href="{{ linkPortfolio }}" class="btn btn-primary btn-floating mx-1" target="_blank">
    <i class="bi bi-file-person"> Portfolio</i>
  </a> -->
</div>
